.home-container {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 134px;
}


.home-content {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding-top: 155px;
    padding-left: 100px;
    padding-bottom: 155px;
}

.text-title{
    max-width: 565px;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
}

.text-subtitle {
    max-width: 516px;
    margin-top: 0.5rem !important;
    margin-bottom: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.main-image {

    width: 100%;

}